* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

.body-page {
  background-color: #ffffff;
  font-family: "Open Sans";
}

.header {
  padding-top: 27px;
  padding-bottom: 145px; 
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.header-container {
  position: relative;
  width: 1200px;
	z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
	margin-right: auto;
}

.logo-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 182px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration-line: underline;
}

.menu-link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-burger-header {
  display: none;
}

.main-title {
  display: block;
  width: 694px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;      
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

.title-trends {
  margin-top: 63px;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.title-trends::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}

.title-post-trend-link {
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.title-post-trend-link:hover {
  color: #b59f5b;
}

.trends {
  display: flex;
  justify-content: space-around;
  margin-bottom: 63px;
}

.trend {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 25%;
  min-height: 319px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.trend:nth-last-child(n+2) {
  margin-right: 4px;
}

.trend::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.6);
}

.first-trend {
  background-image: url("../images/trend1.jpg");
}

.second-trend {
  background-image: url("../images/trend2.jpg");
}
  
.third-trend {  
  background-image: url("../images/trend3.jpg");
}
  
.fourth-trend {
  background-image: url("../images/trend4.jpg");
}

.categories-list-trend {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.categories-trend-link {
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.categories-list-trend-item:nth-child(1) {
  margin-right: 20px;
}

.categories-trend-link:hover {
  text-decoration-line: underline;
}

.categories-and-title-trend {
  z-index: 2;
  padding-top: 38px;
  padding-left: 32px;
  padding-bottom: 37px;
  padding-right: 40px;
  border: 3px solid #b59f5b;
}

.main-part {
  display: flex;
  justify-content: space-between;
  max-width: 1185px;
  padding-left: 15px;
  padding-right: 15px;
  /*margin-top: 64px;*/
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  width: 64.83%;
}

.post {
  display: flex;
  margin-bottom: 62px;
}

.picture-post {
  object-fit: contain;
  width: 381px;
  width: 100%;
  height: 100%;
  background-color: #eff6f1;
}

.post-list-right-part {
  margin-left: 30px;
}

.categories-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.categories-post-link {
  font-size: 14px;
  line-height: 1;
  color: #b59f5b;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.categories-list-item:nth-last-child(n + 2) {
  margin-right: 20px;
}

.categories-post-link:hover {
  text-decoration-line: underline;
}

.title-post-link {
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-post-link:hover {
  color: #b59f5b;
}

.author-post {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-style: normal;
  margin-top: 35px;
}

.date-post {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-style: normal;
  margin-right: 15px;
  margin-top: 35px;
}

.text-post {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
}

.text-post-two-in-music {
  width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: 400;
  font-style: normal;
}

.aside {
  width: 272px;
}

.section:nth-last-child(n + 2) {
  margin-bottom: 60px;
}

.latest-post {
  display: flex;
  width: 100%;
  margin-bottom: 22px;
}

.picture-latest-post {
  width: 70px;
  background-color: #f4f7f6;
}

.latest-post-right-part {
  margin-left: 15px;  
}

.title-latest-post-link {
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
}

.title-latest-post-link:hover {
  color: #b59f5b;
}

.date-latest-post {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.container-latest-post {
  margin-top: 25px;
}

.form {
  position: relative;
}

.form-row-field-search {
  display: flex;
}

.search {
  margin-top: 60px;
}

.field-search {
  box-sizing: border-box;
  border: none;
  width: 222px;
  height: 48px;
  background-color: #f4f7f6;
  font-family: inherit;
  padding-left: 17px;
  padding-right: 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-search:: placeholder {
  font-size: 13px;
  line-height: 3.07;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
}

.field-search:focus {
  width: 222px;
  height: 48px;
  background: #F4F7F6;
  outline: 1px solid #B59F5B;
}

.button-search {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  top: 0;
  left: 343px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.button-search:hover {
  background: #323232;
}

.title-aside {
  text-align: center;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.title-aside:nth-child(n+2) {
  margin-top: 60px;
}

.title-aside::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}

.field-email {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  font-family: inherit;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 15px;
}

.field-email:: placeholder {
  font-size: 13px;
  line-height: 3.07;
  color: #000000;
  font-weight: 400;
  font-style: normal;
}

.field-email:focus {
  background: #F4F7F6;
  outline: 1px solid #B59F5B;
  box-sizing: border-box;
}

.button-subscribe {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.85;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
}

.button-subscribe:hover {
  background: #323232;
}

.tags-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
  flex-wrap: wrap;
  align-items: center;
}

.tags-link {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tags-list-item {
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

.themes-list {
  list-style-type: none;
}

.themes-link {
  font-size: 14px;
  /*line-height: 3.35;*/
  color: #000000;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.themes-link:hover {
  color: #b59f5b;
}

.numbers {
  vertical-align: super;
  font-size: 12px;
  /*line-height: 3;*/
  color: #b59f5b;
  font-weight: 700;
}

.themes-list-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;  
}

.title-new-goods {
  margin-top: 63px;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.title-new-goods::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}

.new-goods {
  display: flex;
  justify-content: space-between;
  width: 1185px;
  padding-left: 38px;
  padding-right: 38px;
  margin-right: auto;
  margin-left: auto;
}

.new-good {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.good-img {
  /*width: 300px;*/
}

.title-good {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.text-good {
  /*width: 301px;*/
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: 400;
  font-style: normal;
}

.text-good-link {
  text-decoration: none;
  color: #b59f5b;
}

.text-good-link:hover {
  text-decoration-line: underline;
}

.price-and-shop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  /*line-height: 24px;*/
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.price-new {
  font-size: 20px;
}

.button-shop {
  min-width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.85;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
}

.button-shop:hover {
  background: #323232;
}

.window-outline {
  margin: -20px 0 0 0;
  /*width: 300px;*/
  outline: 3px solid #b59f5b;
  outline-offset: 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

.footer {
  margin-top: 65px;
}

.social-rectangle {
  width: 1170px;
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.icons-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

.icon-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.icons-list-item:nth-last-child(n + 2) {
  margin-right: 25px;
}

.twitter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.visually-hidden-icons {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyrights-text {
  font-size: 12px;
  line-height: 3.33;
  font-weight: 700;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  box-sizing: border-box;
  width: 390px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  padding-bottom: 55px;
  padding-top: 40px;
}

.survey__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 1.45;
  color: #0f0d0e;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 30px;
}

.survey__title::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}

.survey__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey__column {
  /*width: 330px;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
}

.survey__label {
  margin-bottom: 10px;
}

.survey__label, .text-inside-field, .radio-group-text {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
}

.field {
  display: block;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  color: #333333;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.field:focus {
  outline: 1px solid #b59f5b;
}

.select {
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  color: rgba(0,0,0,0.54);
  background-size: 8px;
}

.radio-group-text::before {
 content: "";
 display: inline-block;
 vertical-align: middle;
 margin-right: 8px;

 width: 15px;
 height: 15px;
 border-radius: 8px;
 background-color: #ffffff;
 border: 1px solid #b59f5b;

 background-image: url("../svg/form-empty-circle.svg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 20px;
}

.radio-group {
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio:checked {
 outline: 3px solid #000000;
 outline-offset: 5px;
}

.radio:checked ~ .radio-group-text::before {
 background-image: url("../svg/form-circle.svg");
}

.radio {
 position: absolute;
}

.radio {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
 height: 1px;
 width: 1px;
}

.survey__field_content {
  box-sizing: border-box;
  border: none;
  max-width: 330px;
  min-width: 330px;
  max-height: 131px;
  min-height: 131px;
  background-color: #f4f7f6;
  font-family: inherit;
  padding-left: 10px;
  padding-top: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
}

.survey__field_content:: placeholder {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
}

.survey__field_content:focus {
  outline: 1px solid #b59f5b;
}

.survey__button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
}

.survey__button:hover {
  background: #323232;
}

.popup__close {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../svg/form-x.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -24px;
  right: 0;  
}

@media (min-width: 641px) and (max-width: 1199px), (min-width: 768px) and (max-width 1023px) and (orientation: landscape) {

.header {
  background-image: url("../images/banner-bg-tablet.jpg");
}

.header-container {
  width: 100%;
}

.menu-link {
  font-size: 0.72rem;
}

.main-title {
  font-size: 2.5rem;
}

.menu {
  display: none;
}

.menu-burger-header {
  position: relative;
  display: block;
  margin-right: 35px;
  width: 23px;
}

.menu-burger-header span, .menu-burger-header::after, .menu-burger-header::before {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}

.menu-burger-header::after, .menu-burger-header::before{
    content: '';
}
.menu-burger-header::after{
    bottom: 5px;
}
.menu-burger-header::before{
    top: 8px;
}

.title-trends, .title-new-goods {
  font-size: 1.11rem;
}

.trend {
  object-fit: contain;
  width: 25%;
  padding: 2.08%;
}

.categories-trend-link {
  font-size: 0.77rem;
}

.title-post-trend-link {
  font-size: 1.11rem;
}

.categories-and-title-trend {
  
  padding-top: 12.67%;
  padding-left: 10.67%;
  padding-bottom: 12.33%;
  padding-right: 13.33%;
}

.trends {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.trend {
  width: calc(50% - 4px);
  margin-right: 0px;
}

.trend:nth-child(2n+1) {
  margin-right: 4px;
}

.trend:nth-child(1n+1) {
  margin-bottom: 4px;
}

.main-part {
  max-width: 768px;
  width: 100%;
}

.main-part {
  font-size: 98.75%;
}

.picture-post {
  width: 91.42%;
}

.categories-post-link {
  font-size: 0.77rem;
}

.title-post-link {
  font-size: 1.11rem;
  margin-left: 0px;
  margin-bottom: 35px;
}

.author-post, .date-post {
  font-size: 0.66rem;
}

.text-post, .text-post-two-in-music {
  font-size: 0.83rem;
}

.post {
  width: 390px;
  flex-wrap: wrap;
}

.text-post {
  padding-bottom: 15px;
}

.post:nth-child(1n + 6) {
  display: none;
}

.post:after {
  content: "";
  display: block;
  width: 390px;
  height: 3px;
  background-color: #eeeeee;
}

.post-list-right-part {
  margin-left: 0px;
}

.post-list-right-part {
  margin-top: 15px;
} 

.text-post {
  margin-top: 33px;
}

.title-new-goods {
  margin-top: 10px;
  margin-bottom: 26px;
}

.title-good {
  font-size: 1.11rem;
}

.new-goods {
  width: 98.75%;
  flex-wrap: wrap;
}

.text-good {
  font-size: 0.83rem;
}

.new-good {
  width: 45%;
}

.third-good {
  margin-top: 30px;
}

.price-old {
  font-size: 0.77rem;
}

.price-new {
  font-size: 1.11rem;
}

.social-rectangle {
  width: 97.5%;
}

.copyrights-text {
  font-size: 0.66rem;
}

.survey__title {
  font-size: 18px;
}

.popup__close {
  width: 27px;
  height: 27px;
  top: -34px;
}
}

@media (max-width: 640px) and (orientaion: portrait) {

.trends {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 360px;
}

.trend {
  width: 100%;
  padding: 0;
}

}

@media (max-width: 640px), (max-width:  767px) and (orientaion: landscape) {

.header {
  background-image: url("../images/banner-mobile.jpg");
}

.header-container {
  max-width: 360px;
  width: 100%;
}

.menu {
  display: none;
}

.menu-burger-header {
  position: relative;
  display: block;

  margin-right: 17px;
  width: 23px;
  margin-bottom: 168px;
}

.menu-burger-header span, .menu-burger-header::after, .menu-burger-header::before {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}

.menu-burger-header::after, .menu-burger-header::before{
    content: '';
}
.menu-burger-header::after{
    bottom: 5px;
}
.menu-burger-header::before{
    top: 8px;
}

.main-title {
  width: 328px;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo-menu {
  position: relative;
}

.logo-image {
  position: absolute;
  text-align: center;
  left: 20%;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 44px;
}

.trend {
  object-fit: contain;
  width: 100%;
}

.trend:nth-child(-n+3) {
  margin-bottom: 4px;
}

.title-trends, .title-aside {
  font-size: 16px;
}

.categories-and-title-trend {
  padding-top: 38px;
  padding-left: 32px;
  padding-bottom: 37px;
  padding-right: 40px;
  width: calc(100% - 50px);
}

.categories-trend-link {
  font-size: 14px;
  margin-bottom: 10px;
}

.title-post-trend-link {
  font-size: 16px;
}

.main-part {
  flex-wrap: wrap;
  max-width: 91.67%;
}

.post-list {
  width: 100%;
}

.post {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 33px;
}

.post-list-right-part {
  margin-left: 0px;
}

.categories-post-link {
  font-size: 14px;
}

.categories-list-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-post-link {
  font-size: 16px;
  margin-bottom: 23px;
}

.author-post, .date-post {
  font-size: 12px;
}

.date-and-author-post {
  margin-bottom: 23px;
}

.text-post, .text-post-two-in-music {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 14px;
  padding-bottom: 15px;
}

.text-post-two-in-music {
  width: 91.42%;
  padding-bottom: 15px;
}

.post:nth-child(1n + 6) {
  display: none;
}

.post:after {
  content: "";
  display: block;
  width: 390px;
  height: 3px;
  background-color: #eeeeee;
}

.aside {
  width: 100%;
}

.field-search {
  max-width: 224px;
}

.field-search:focus {
  max-width: 224px;
}

.button-search {
  width: 100%;
}

.button-search:focus {
  width: 100%;
}

.tags-list {
  margin-bottom: 44px;
  width: 100%;
}

.tags-list-item {
  margin-right: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.title-new-goods {
  margin-top: 44px;
}

.title-good {
  font-size: 17px;
}

.text-good {
  font-size: 15px;
}

.price-old {
  font-size: 14px;
}

.price-new {
  font-size: 20px;
}

.new-goods {
  flex-wrap: wrap;
  width: 100%;
}

.good-img {
  width: 284px;
}

.new-good {
  width: 98.75%;
}

.new-good:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.window-outline {
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
}

.social-rectangle {
  width: 91.67%;
}

.popup__container {
  max-width: 331px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.survey__title {
  font-size: 0.88rem;
}

.survey__button, .field {
  max-width: 280px;
  width: 100%;
}

.survey__field_content {
  max-width: 280px;
  min-width: 280px;
  max-height: 131px;
  min-height: 131px;
}

.survey__label, .text-inside-field, .radio-group-text {
  font-size: 0.72rem;
}

.field {
  font-size: 0.77rem;
}

.radio-group {
  font-size: 0.83rem;
}

.survey__field_content:: placeholder {
  font-size: 0.72rem;
  
}

.survey__button {
  font-size: 0.77rem;
}


}